@font-face {
    font-family: "Jumper";
    src: url('./fonts/Jumper.ttf');
  }


.main {
    background-color: #ededed;
}

.header-menu{
    margin-top: 30px;
    display: flex;
    font-family: 'Jumper';
    background-color: #ffffff;
    padding-bottom: 20px;
    border-radius: 5px;
}

.logo-Sharing {
    margin-left: 30px;
}


.header-menu button{
    font-family: "Jumper",bold;
    font-size: 80%;

    padding: 10px 20px; 
    box-sizing: border-box;
    height: auto;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.botones-menu{
    display: flex;
    margin-left: 38%;
    gap: 35px;  
    position: fixed;
    justify-content: flex-end;
    
    
}

.icons-menu {
    font-size: 160%;
    display:inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 2px;
    
}

.btn-links{
    display:inline-block;
    border-radius: 8px;
    border-width: 0;
    color: #8E44AD;
    background: rgb(236, 236, 236);
}

.btn-links.active{
    border-radius: 8px;
    border-width: 0;
    color: rgb(77, 77, 77);
    background: transparent;
}

.btn-profile{
    display:inline-block;
    border-radius: 8px;
    border-width: 0;
    color: rgb(77, 77, 77);
    background: transparent;
    
}

.btn-profile.active{
    border-radius: 8px;
    border-width: 0;
    color: #8E44AD;
    background: rgb(236, 236, 236);
}

.btn-preview{
    display:inline-block;
    border-radius: 8px;
    border-width: 2px;
    border-color: #8E44AD;
    background:transparent;
    color: #8E44AD;
    position: fixed;
    right: 20px;
}


.btn-preview.active{
    display: flex;
    margin-left: 400px;
    border-radius: 8px;
    border-width: 2px;
    border-color: transparent;
    background:#8E44AD;
    color: #ffffff;
}

.div-preview-celular {
    background-color: #ffffff; 
    display: inline-block;

    padding-top: 20px;
    padding-bottom: -100px;
    padding-left: 180px;
    padding-right: 340px;

    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 1px;

    border-radius: 20px;
}

.iphone {
     width: 19%;
     position:absolute;
     /* margin-top: -5px; */
}

.ft-profile{
    width: 25%;
    height: 25%;
    position:static;
    margin-bottom: 260px;
    margin-left: 83px;
    margin-top: 60px;

    border-radius: 90%;
}

.divpreviewihpone {
    width: 500px;
    height: 500px;
    
}


@media only screen and (max-width: 600px) {
    .logo-Sharing{
        align-content: center;
    }

    .header-menu {
        margin-left: 10px;
        flex-direction: column;
    }

    .botones-menu{
        gap: 2px;
        margin-top: 70px;
        flex-direction:row;
        left: -130px;  
        align-items: flex-end;
    }

    .btn-preview {
        right: 3px;
    }
}